@import 'responsive-mixins';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10vw;

  > aside.image,
  > aside.details {
    position: relative;
    opacity: 0;
  }

  > aside.image {
    transform: translateY(-50%);

    > img {
      width: 20vw;
    }
  }

  > aside.details {
    transform: translateY(50%);
  }

  &.visible {
    > aside.image {
      animation: slideFromTop 2s forwards;
    }

    > aside.details {
      animation: slideFromBottom 2s forwards;
    }
  }
}

@keyframes slideFromTop {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideFromBottom {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

section.intro {
  align-items: center;

  > aside.image {
    > img {
      width: 40vw;
    }
  }
}

section.about-me {
  gap: 5vw;
}

section.skills {
  gap: 5vw;

  > aside.details > .skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    gap: 1rem;

    > span {
      --icon-size: 2.5rem;

      text-align: center;

      > i,
      > img {
        margin-bottom: 0.5rem;
      }

      > i {
        font-size: var(--icon-size);
        color: hsl(255, 98%, 80%);
      }

      > img {
        height: calc(var(--icon-size) - 4.5px);
      }

      > p {
        font-size: 0.85rem;
      }
    }
  }
}

section.references {
  > aside.details {
    > a {
      padding: 0.5rem;
      background: hsl(255, 98%, 80%);
      border-radius: 5px;
      color: hsl(0, 0%, 9%);
    }
  }
}

@include tablet-mobile-size {
  section {
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vw;
    height: auto;

    &:not(.intro) {
      padding-bottom: 3rem;
    }

    &:not(.intro) > aside.image > img {
      display: none;
    }

    > aside.image {
      > img {
        display: none;
      }
    }
  }
}

@include tablet-mobile-landscape {
  section.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
